body {
    padding: 0px;
    margin:0px;
}

/*Body*/
body .content {
    box-sizing: border-box;
    /* position:fixed; */
    display:inline-block;

    width: 100%;
    height: 100%;

    top:0;
    left:0;
    right:0;
    bottom:0;

    margin: 0px;
    padding-top:50px;
    z-index: 1;

    text-align: left;
    font-family: "Montserrat", sans-serif;
}
.article-header {
    height:35px;
    border-radius:25px 25px 0px 0px;
    border-bottom:2px solid #f4bd29;
    padding-bottom:3px;
}

.article-header-tab {
    width: 10em;
    margin-left:15px;
    box-sizing:border-box;
    padding:1px;
    border-radius:10px 10px 0px 0px;
    background-color: #292d3e;
    border:2px solid #f4bd29;
    border-bottom: 1px;
    display:inline-block;
}

.article {
    box-sizing:border-box;
    display: inline-block;
    width:35vw;
    padding:0px;
    background-color: #292d3ee3;
    border-radius: 25px;
    padding:20px;
    text-align:left;
    margin:1vw;
}

.article-content {
    padding:15px;
    margin-top:0px;
    background-color:#292d3e;
    border-radius: 0px 0px 10px 10px;
}
.article p {
    color: white;
    margin: 8px;
}

.article a {
    color:#f4bd29;
    text-decoration: none;
}

.action-dot {
    width:18px;
    height:18px;
    border-radius: 50%;
    margin-right:10px;
    margin-top:3px;
    float:right;
}

/* Header */
vl {
    background-color:#292d3e;
    display:inline-block;
    width:2px;
    height:auto;
}

.feed {
    background-color:#ff0000;
}

#header {
    background-color: #fe3f7cc9;
    display: block;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;

    backdrop-filter: blur(10px);

    padding-left: 15px;

    position: fixed;
    height:48px;
    width: 99%;
    top: 0;
    left: 0;

    margin-left:0.5%;
    margin-right:0.5%;

    z-index: 9999999;
    font-family: "Montserrat", sans-serif;
}
#header vl {
    height:22px;
}

#header p {
    display:inline-block;
    margin:5px;
    color:#200744;
}
#page-tags {
    display:inline-block;
    margin:3px 5px;
}
.page-tag {
    display:inline-block;
    margin:5px;
    padding:5px;
    border-radius:10px;
}
#motd, #motd p{
    display:inline-block;
    margin:5px;
    color:#20074480;
}

/* Footer */
#footer {
    background-color: #fe3f7cc9;
    display: block;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 15px;

    backdrop-filter: blur(10px);
    
    position: fixed;
    height:40px;
    /* width:100%; */
    bottom:0;
    left:0;

    padding-left: 10px;
    padding-top: 0px;

    margin-left:5px;
    margin-bottom:5px;
    
    z-index: 9999999;
    font-family: "Montserrat", sans-serif;

    transition:width .25s;
    width: calc(auto, size);
}
#footer vl {
    display:inline-block;
    height:20px;
    margin-top:8px;
}
#footer p {
    display:inline-block;
    margin:5px;
}
#footer a {
    color:#200744;
    text-decoration:none;
    margin:5px;
}
#footer a.active {
    color:#f4bd29;
    text-decoration:none;
    margin:5px;
}

.collapsable {
    display:inline-block;
}
button.footer-toggle {
    display:inline-block;
    margin-left:2px;
    margin-top:10px;
    margin-right:10px;
    color:#200744;
    cursor:pointer;
    background-color:#00000000;
    border:none;
}

/* Background */
.background-image {
    background-image: url('/images/day.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position-x: center;

    filter: blur(2px);

    position: fixed;
    display: block;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: -2.5px;
    z-index: -1;
}